form {
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    color:black;
    display:flex;
    height:40%;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-evenly;
    padding-inline:3rem;
    padding-block:1rem;
    box-shadow: 7px 7px 20px 0px rgba(151, 150, 150, 0.388);
    border: solid 1px rgba(128, 128, 128, 0.128);
}

h2{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}

.input-group-text{
    text-align: left;
}
